.item {

    padding-bottom: 28px;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(0,0,0,0.03);
    margin-top: 56px;
    cursor: pointer;
    transition: 0.3s all ease;
}
.item:nth-child(1), .item:nth-child(2), .item:nth-child(3), .item:nth-child(4), .item:nth-child(5) {
    margin-top: 15px;
}
.item:nth-child(5n) {
    margin-right: 0;
}
.item:hover {
    box-shadow: 0px 4px 1px #92DCE5;
}
.img__container {
    width: 100%;
    height: 180px;
    margin-bottom: 8px;
    border-bottom: 3px solid #92DCE5;
}

.img__container img {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 11px;
    padding-right: 11px;
}
.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2B303A;
}
.price{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2B303A;
}
.card__container {
    display: flex;
    cursor: default;

}
.card__img__container{
    margin-right: 13px;
}
.card__info{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.card__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #2B303A;
}
.card__price{
    margin-top: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #2B303A;
}
.counter{
    margin-top: 18px;
    display: flex;
}
.counter__button__minus{
    width: 34px;
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FCFCFC;
    background: #92DCE5;
    border-radius: 10px 0px 0px 10px;
    border: none;
}
.counter__button__plus{
    width: 34px;
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FCFCFC;
    background: #92DCE5;
    border: none;
    border-radius: 0px 10px 10px 0px;
}
.counter__text{
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #92DCE5;
}