* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1610px;
    max-width: 95%;
}

/* Header start */

.header {
    background: #2B303A;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 150px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1610px;
    max-width: 95%;
}

.header__menu {
    list-style-type: none;
    display: flex;
}

.header__menu__item a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FCFCFC;
    padding: 6px 18px;
    transition: 0.3s all ease;
}

.header__menu__item a:hover {
    opacity: 0.6;
}

.header__tools {
    display: flex;
    align-items: center;
}

.header__tools__price__container {
    margin-right: 12px;
}

.header__tools__price__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FCFCFC;
}

.header__tools__price__value {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FCFCFC;
}

.header__tools__utilities {
    display: flex;
    align-items: center;
}

.header__tools__utility {
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.header__tools__utility:nth-child(2) {
    margin-right: 40px;
}

.header__tools__utility:hover {
    opacity: 0.6;
}

.header__tools__utility:last-child {
    margin-right: 0;
}

.header__profile__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 33px;
    cursor: pointer;
    transition: 0.3s all ease
}

.header__profile__login:hover {
    opacity: 0.6;
}

.header__profile__login:last-child {
    margin-right: 0;
}

.header__profile__login__img {
    width: 50px;
    height: 50px;
    margin-bottom: -3px;
}

.header__profile__login__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FCFCFC;
}

.header__profile {
    display: flex;
}

.header__profile__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: 0.3s all ease;
}

.header__profile__link:hover {
    opacity: 0.6;
}

.header__profile__link__img {
    width: 34px;
    height: auto;
    margin-bottom: 11px;
}

.header__profile__link__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FCFCFC;
}

/* Header end */

/* Catalog start */
.catalog {
    display: flex;
    justify-content: space-between;
}

.catalog__tags {
    width: 218px;
    padding: 16px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 0px 4px 4px 0px;
    border-style: solid;
    border-color: #92DCE5;
    border-radius: 20px;
}

.catalog__tag {
    height: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #2B303A;
    margin-bottom: 9px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.catalog__tag:hover {
    opacity: 0.6;
}

.catalog__tag:last-child {
    margin-bottom: 0;
}

.catalog__posts__section {
    width: 1200px;
}

.catalog__filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.catalog__filters__container {
    display: flex;
}

.catalog__filters__container select {
    margin-right: 30px;
}

.catalog__filter__search {
    width: 340px;
    height: 44px;
    padding: 12px;
    background: #D9D9D9;
    border-radius: 20px;
    border: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(43, 48, 58, 0.5);
}

.catalog__filter__reset {
    width: 100px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D64933;
    border-radius: 4px;
    border: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    cursor: pointer;
    color: #FCFCFC;
    transition: 0.3s all ease;
}

.catalog__filter__reset:hover {
    background: #2B303A;
}

/* Catalog end */

/* Profile start*/
.profile {
    margin-top: 100px;
}
/* Profile end*/