.content{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 2fr 2fr 2fr;
    grid-column-gap: 10px;
    align-items: center;
    margin-bottom: 30px;
}
.description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: rgba(43, 48, 58, 0.6);
}
.mainText{
    text-align: center;
}
.text{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #2B303A;
}
.image{
    position: absolute;
    left: -40px;
    display: none;
    transition: 0.3s;
    z-index: 3;
}
.textActive{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #2B303A;
    position: relative;
    border-bottom: 3px solid #2B303A; ;
}
.textActive:hover>img{
    display: block;
    transition: 0.3s;
}