.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    transition: ease 0.3s;
}
.container:hover{
    transition: ease .3s ;
    background: rgba(83, 184, 207, 30%);
}
.description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: rgba(43, 48, 58, 0.6);
}
.text{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #2B303A;
}