.orders__container {
    width: 1130px;
    margin: auto;
}

.orders__content {
    width: 100%;
}

.orders__content__header {
    margin: 40px 0 35px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #2B303A;
}

.orders__content__naming {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 2fr 2fr 2fr;
}

.orders__content__naming p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: rgba(43, 48, 58, 0.6);
}